body {
    background-color: hsl(210, 100%, 10%);
    margin: 0;
}

nav {
    color: rgb(218, 217, 217);
    text-align: center;
    margin: 50px 0px;
}

#footer {
    align-self: flex-end;
}
#content {
    display: flex;
    min-height: 360px;
    justify-content: center;
    margin: 20px 0px;
}

#calculator {
    background-color: hsl(0, 0%, 20%);
    padding: 20px;
}

#display {
    background-color: hsl(0, 0%, 79%);
    height: 75px;
    text-align: right;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}