body {
    background-color: hsl(210, 100%, 10%);
    margin: 0;;
}
nav {
    color: rgb(218, 217, 217);
    text-align: center;
}

#content {
    display: flex;
    min-height: 720px;
    justify-content: center;
    margin: 20px 0px;
}

#calculator {
    background-color: hsl(0, 0%, 20%);
    width: 480px;
    padding: 20px;
}

#display {
    background-color: hsl(0, 0%, 79%);
    height: 100px;
    text-align: right;
}

#buttons {
    display: flex;
    height: 560px;
}