body {
    background-color: hsl(208, 24%, 31%);
    margin: 0;
    padding: 100px;
}

nav {
    color: rgb(218, 217, 217);
    text-align: center;
    margin: 50px 0px;
}

#footer {
    align-self: flex-end;
}
#content {
    display: flex;
    min-height: 360px;
    justify-content: center;
    margin: 20px 0px;
}

#calculator {
    background-color: hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 25px;
}

#display {
    background-color: hsl(0, 0%, 79%);
    height: 75px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#text {
    margin: 0;
    font-size: 26px;
    padding: 7px;
    text-align: right;
}

#text.small {
    font-size: 15px;
}

#buttons {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.operator,.digit{
    width: 50px;
    height: 50px;
    background-color:  hsl(0, 0%, 69%);
    color: hsl(0, 0%, 20%);
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 20%);
    
}

.operator.long {
    flex-grow: 1;
}

.operator:active,.digit:active {
    background-color: hsl(208, 24%, 31%)
}